h1 {
  /* named colors or keyword colors */
  /* color: red; */
  /* hexadecimal colors */
  /* digits go from 0 to 9 and letters go from a to f */

  /* decimal value 0 1 2 3 4 5 6 7 8 9 */
  /* binary 0 1 */
  /* hexadecimal 0 1 2 3 4 5 6 7 8 9 a b c d e f */
  /*  00 = 0 , ff = 255 */
  /* red and green and blue channel RGB */
  /* color: #ff2277; can be shorten to #f27*/
  /*  RGB = # red / green / blue */
  /* color: #ff0000;
    background-color: #0000ff; */
  /* color: #00ff00;
    color: #0000ff;
    color: #ffff00;
    color: #ff00ff;
    color: #00ffff; */
  /* opacity: 20%; */
  color: #ff0000;
  color: rgb(255, 0, 0);

  color: #00ffff;
  color: rgb(0, 255, 255);

  background-color: #00ffff;
  color: rgba(255, 0, 0, 50%);

  /*  hue saturation and lightness */
  /* Hue is unitless and its the degree of color wheel */
  /*  saturation this has unit (%) 0% no saturation = gray scale, 100% full color saturation */
  /* lightness unit with % = 0% means total darkness and 100% is total brightness */
  background-color: hsl(230, 90%, 50%);
  background-color: hsla(240, 75%, 60%, 100%);
}
